@page "/"
@using RentalCars.Data
@using RentalCars.Models
@inject RentalService RentalService

<PageTitle>Index</PageTitle>

<h1>Hello</h1>

<p>There are currently <b> @activeRentalsCount </b> active rentals.</p>


@code {
    private int activeRentalsCount;

    protected override async Task OnInitializedAsync()
    {
        var activeRentals = await RentalService.GetRentalsWithStatus(Status.Active);
        activeRentalsCount = activeRentals.Count;
    }

}